.weatherbox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  gap: 40px;
  border-radius: 25px;
  height: 230px;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 1.3);
}
.sunrise{
  margin-bottom: 40px;
}
.sunny{
  /* font-weight: bold; */
  font-size: 25px;
}
.weatherContainer {
  display: flex;
  gap: 20px;
}
.feelsLikeContainer{
  padding-bottom: 20px;
}
.tempPara{
  font-weight: bold;
  font-size: 60px;
}
.feelsLike{
  font-weight: bold;
  font-size: large;
}
.imgColor {
  filter: grayscale(100%);
  color: black;
}
.weatherItem {
  display: flex;
  align-items: center;
  text-align: center;
}
.weatherDet{
  padding-bottom: 10px;
}
.weatherInfo{
  padding-bottom: 20px;
}
@media (max-width:767px){
  .weatherbox{
    margin: auto;
 
   }
 }