.watch {
text-align: center;
  width: 315px; 
  height: 240px;
  border-radius: 40px;
  box-shadow: 6px 7px 11px rgba(0, 0, 0, 1.3);
}

.fiveDayInfo{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.fiveInfoPara{
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
.dailyForecast {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }

